* { box-sizing: 
  border-box;
}


*{

padding: 0%;
margin: 0px;

}
body { font-family: sans-serif;

   



}

.carousel {
 
width: 1200px;
margin-left: auto;
margin-right: auto;

   

}

.carousel-cell {
  width: 20%;
  height: 350px;
  margin-right: -560px;
  padding-right: 800px;
 
 
 
  border-radius: 5px;
 
}

.carousel-cell.is-selected {
 

  
}

/* cell number */

.flickity-viewport {
    overflow: hidden;
    position: relative;
   
}





.botao{

  position: relative;
  width: 60px;
  top: -56px;
  z-index: 999;
  left: 18px;
  font-weight: bold;
  
}

.valor{

 position: relative;
 top: -78px;
 z-index: 999;
 left: 100px;
 font-weight: bold;
 font-size: 17px;

}


.pacote{
position: relative;
width: 500px;
z-index: 999;
top: -80px;
left: 32px;
font-size: 11px;
color: black;
font-size: 10px;

}


