#rodape {
    font-size: 11px;
    color:gray;
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
    width: 82%;
    margin: auto;
}

#rodape p{
    padding-top: 8px;
    float: left;
    font-weight: bold;
}

#rodape img{
    padding-top: 5px;
    padding-left: 45px; 
    float: right;
}