
#rodape {
    font-size: 11px;
    color:gray;
    display: flex;
    justify-content: space-between;
}

#rodape p{
    padding-top: 8px;
    font-weight: bold;
}

.div-img{
    padding-top: 5px;
    padding-left: 45px;  
    min-width: 20%;
    min-height: 20%;
}

.div-img img{
    position: relative;
    left: 50%;
}