footer {
    background: transparent; 
    font-size: 11px;
    color:gray;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

footer p{
    padding-top: 8px;
    float: left;
    font-weight: bold;
}

footer img{
    padding-left: 45px; 
    float: right;
}