#compras{   /* ID da parte da imagem do carrinho */
    background: url('imgs/imagens_cortadas/carrinho.png') no-repeat left center;
    background-size: 30px 30px;
    padding: 5px;
}

#compras p{  /* Oculta a palavra "compras" */
    visibility: hidden;
}


/********************** Abaixo header alterado *******************************/
  header .logo-content a img {
    margin-left: 70px;
    width: 45%;
  }


.input-group{
    width: 55%;
    display:flex;
    justify-content: center;
}

.form-control{
    border-radius: 10px;
}

.search {
    background: url('imgs/imagens_cortadas/busca_2.png') no-repeat left center;
    background-size: 100%;
    border-radius: 10px;
}

.btn p{
   margin: 0;
   padding: 0;
   color: transparent;
}

.letra{
    margin-bottom: 0px;
    font-weight: bold;
    color: #0044cc;
    font-size: 15px;
}

ul.navbar-nav {
    padding-left: 80px;
    align-items: center;
    padding-right: 40px;
    width: 430px;
    height: 58px;
    padding-top: 5px;
}

.nav-item{
    background: white;
}

.nav-link {
    height: 80%;
}

/********************** Navegação de baixo do header ***************/

#nav2{
    padding-left: 190px;
    padding-right: 190px;
    background: #141452;
    height: 40px;
    display: flex; 
    align-items: center;
    justify-content: space-around; 
}

#nav2 span a{
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-weight: bold;
}

#nav2 span a:hover{
    text-decoration: none;
    color: #141452;
    background: #e6e6e6;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 3px;
}