div .container {
    padding-top: 200px; 
    height: 700px;
    background-image: url('imgs/imagens_cortadas/bg_2.jpg') no-repeat;
    background-size: 100%; 
}

/*Rodapé*/
footer {
    background-color: #f0f5f5; 
    font-size: 11px;
    color: blue;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

footer p{
    padding-top: 8px;
    float: left;
    font-weight: bold;
}

footer img{
    padding-left: 45px; 
    float: right;
}
